@import "tailwindcss";

@theme {
  --color-primary: rgb(2, 94, 101);
  --color-secondary: rgb(243, 123, 33);
  --color-background: #f7f7f7;
}

:root {
  background-color: var(--color-background);
  color: #171717;
}

body {
  margin: 0;
  font-family: sans-serif;
}